* {
    box-sizing: border-box;
}

/* Header navigation starts here */

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #666666;
    padding: 30px;
    font-family: Bebas Neue, Arial, sans-serif;
}

.right {
    font-size: 20pt;
}

.work {
    margin-right: 2rem;
    color: #FFFFFF;
}

.about {
    margin-right: 2rem;
    color: #FFFFFF;
}

.contact {
    margin-right: 72px;
    color: #FFFFFF;
}

.logo {
    width: 200;
    height: 30px;
    margin-left: 100px;
    margin-top: 20px;
}

.logo img {
    width: 6%;
    height: auto;
}

/* Hero banner starts here */

.hero-Img {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
    margin-right: 100px;
}

.info {
    font-family: Lato, Arial, sans-serif;
    justify-content: center;
    margin-left: 100px;
    margin-right: 40px;
    margin-top: 150px;
    line-height: 30px;
}

.button {
    margin-left: 225px;
    margin-top: 100px;
    color: #378AD7;
    font-family: Bebas Neue, Arial, sans-serif;
    font-size: 20pt;
}

/* Footer starts here */

.footer-links {
    background-color: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    font-size: 15pt;
    font-family: Lato, Arial, sans-serif;
    padding: 1rem;
}
